#gameContainer {
  text-align: center;
}
body{
  background-color: black;
  height: 90vh;
}

#gameBoard {
  border: 3px solid white;

}
#scoreText {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 100px;
}
#resetBtn {
  font-family: "Permanent Marker", cursive;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
}
#resetBtn:active {
  scale: 90%;
  background-color: black;
  color: white;
}
#startBtn{
    font-family: "Permanent Marker", cursive;
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: 4px solid;
  border-radius: 15px;
  cursor: pointer;
  color: black;
}
#startBtn:active{
    scale: 90%;
  background-color: black;
  color: white;

}